body {
  margin: 0;
  padding: 0;
  font-family: "YakuHanJPsLight", "proxima-nova", "a-otf-midashi-go-mb31-pr6n", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
 font-weight: bold;
}

h1 {
  color: #000000;
  font-size: 90px;
 font-family:"游ゴシック体";
  text-align: center;
  background-image: url();
  height: 300px;
  background-repeat: no-repeat;
  background-position: top center;
}

header {
  background-image: url();
  height: 600px;
  margin-top:300px;
}

nav {
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#ffffff;
}


nav a{
    display:flex;
    color: #ffffff;
}

nav a:hover {
  color: #ffcc11;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

.shop {
  background-color: #a901db;
  color: #0101df;
  padding: 30px;
}

.call{
   font-size: 30px;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-color: #663300;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.shop h3{
    font-size:20px;
}
.shop p {
  font-size: 18px;
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  border-radius: 30px;
  color:#000000;
}

.shop img {
  float: right;
}

.photo {
padding:30px;
  background-color:#000000;
 padding-bottom:1600px;
}

.photo h3 {
  text-align:center;
    color:#000000;
    
}
.photo h2 {
  color: #ffffff;
  border-color: #ffcc11;
}

.photo p {
  color: #ffffff;
  clear: left;
  margin: 20px;
}

.big {
  background-color: #ffffff;
  width: 500px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #a901db;
  float: left;
  transform: rotate(0);
}

.small {
  background-color: #ffffff;
  width: 210px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #a901db;
    float:left;
}

.cast div{
    size:1000px;
}

.price{
    padding:30px;
}

.price h2 {
  color: #000000;
  border-left: 10px solid #000000;
}

.price table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.price td {
  border: 1px solid #000000;
  padding: 10px;
}

.price th {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
  background: #ffcc11;
}

.second th {
  background: #3dc;
}

.thrid  th{
  background-color: #5858fa
}

.access {
  background: #00a29a;
  color: #ffffff;
  padding: 30px;
  height: 400px;
}

.access h3 {
  font-size: 50px;
  font-family: lobster;
  margin-top: 0;
}

.access div {
  width: 50%;
  float: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  text-align: center;
  color: #ffffff;
  background: #08298a;
}

@media (max-width: 599px) {
   div#sidebar { width: 100%; }
    
}
@media (min-width: 600px) and (max-width: 959px) {
   div#sidebar { width: 160px; }
}
@media (min-width: 960px) {
   div#sidebar { width: 25%; }
}

.gallery {
  background-color:#1d2088;
  color:#ffffff;
 padding:30px;
}

.gallery h2 {
  color: #ffcc11;
    font-family: cursive
}

.gallery div{
      overflow-x: auto;
      white-space: nowrap;
 -webkit-overflow-scrolling: touch;
    }

.gallery div div {
    display:inline-block;
  margin: 5px;
  border: 10px solid #ffffff;
  background: #ffffff;
height: 250px
}
 
.gallery img{
    width 250px;
    height: 250px;
}


