body {
  margin: 0;
  padding: 0;
  font-family: "YakuHanJPsLight", "proxima-nova", "a-otf-midashi-go-mb31-pr6n", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
 font-weight: bold;
 
animation-name: fadein;
animation-duration: 2s;
animation-iteration-count: 1;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(100px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
    }}


cool{
background:rgba(255,255,255,0.7)
}

h1 {
  font-size: 100px;
 font-family:"游ゴシック体";
  text-align: center;
  height:500px;
  background-repeat: no-repeat;
  background-position:  center;
}

h2{
    font-size:40px;
}

h3{
    font-size:30px;
}

p{
    font-size:30px;
}

th {
    font-size:30px;
}

td{
   font-size: 30px;
}

.type-mask{
background-image:url(https://lh3.googleusercontent.com/RNTEQusA469VLQoKZJi7N0mhzg7Sd6qjb6CVuISBSk5yotCWbBA_t-otMO0GLPq5TvsYWHmu-LmMWyCd63gRU572eHY3TxPUtDfoyTButE2Nb55fC4sNb4SFUcm1IBLb98GXj7TvclCk_MFecvS8i6ofiP3QLlL8luxTmMiw-HHJ0cU4O-vzY8wz4rNDGaTzoXcQtsXrVHht5gt7vmEpiqbPzaoSBXiOofZYwa7qD2uIv4M6_Ku80xRSe9gOa6NOA1R88sneVjIR2_W7d81FriLxWRURV-YJQqjprtGoTs8c6dezNTzLAhtHTUCKogqV1VluhFUVwWgkoujOGWIteUJ9mWRhZ-lzkR40PzpgY-cKmfeiUaYlgT8z2K5oAyhuFmZDpooD6aSo9gnNZm99aq2thxMMELnvvd1ymidlIkxwtfgigkaaouCZM3oNcJGLeSw-SNVrQw9dwXmGJybiW9hAyqzW6xL6MkRrP-UVGFpY7NUCDNC1MixATmmFX8wDBia0pJLKeTk-jnZR5-D1z0FBji2vp6JmRUzUPpfXmQj6dEZHgJSJjG-GZjthNnU93MWehFMT8hxQWsW6aVx2VwqyvUt3le0mHGW5zkPARfYRAWBYsQALYclnaFS_Z7PB1TxDeDfqI1J_kS27FTAaHA8oIBi-dEUl66C_YewRsJlhZW77M44loXwg5m1wEjC1oBGg4goCI59DzV2sz2jDLglOUJ1yxwycgqYsR3wbFCvGKA=w1842-h1228-no);
}

.type-mask h1{
  -webkit-animation: scrollmask 10s ease 0s infinite;
  -webkit-background-clip: text;
  background-image: url(https://lh3.googleusercontent.com/cQMRmHXRoau8ueahaziajXw_ZWDw4tRDussQPmKsxLeukLoFxfyY0LCdw2P2fxtt6SQe5xzDPNAf8cUMGT_hIwY3T4uyiKn3EE9yrrhSD1FDutw8mfW6viix1aILXgE9Ad1qqmrP=w2030-h1352-no);
  color: transparent;
  font-size: 150px;
  font-family:cursive;
}

@-webkit-keyframes scrollmask {
  0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
}

nav {

  margin-top: ;
  padding-bottom: px;
   border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
} 


nav a {
  color: #ffffff;
    text-decoration:none;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

nav li {
  display: inline-block;
  margin:right;
}

nav div{
  display:inline-block;
 font-size:30px;
height: 40px;
    width:20%;
    float:left;
    text-align:center;
    border-bottom:solid 5px #000000;
}

.ss{
    color:black;
}

.gshop{
    background-color:black;

}

.gphoto{
    background-color:white;
    color:black;
}

.gprice{
    background-color:black;
}

.ggallery{
    background-color:white;
}

.gaccess{
    background-color:black;
}
.shop {
  background-color: #191970;
  color: #1e90ff;
  padding: 30px;
}


.call{
   font-size: 40px;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.title {
  font-size: 40px;
  border-left-style: solid;
  border-left-color: #663300;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.shop h3{
    font-size:30px;
}
.shop p {
  font-size: 30px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  color:#000000;

}

.shop img {
  float: right;
}

.photo {
padding:40px;
 background-color:#000000;
padding-bottom:3500px;
}

.photo h3{
    color:white
}

.photo p {
  text-align:center;
    color:#000000;
    
}
.photo h2 {
  color: #ffffff;
  border-color: #ffcc11;
}

.big {
  background-color: #ffffff;
  padding: 15px;
  margin: 20px;
    float:left;
  box-shadow: 10px 10px 10px #a901db;
  transform: perspective();
}



.price{
    padding:30px;
    background-color:#fff;
}

.price h2 {
  color: #333333;
  border-left: 10px solid #000000;
}

.price table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.price td {
  border: 1px solid #333333;
  padding: 10px;
    
}

.price th {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
  background: lightblue;
    color:#333;
}

.second th {
  background: lightgreen;
    color:#333;
}

.thrid  th{
  background-color: lightcoral;
    color:#333;
}

.access {
  background: #00a29a;
  color: #ffffff;
  padding: 30px;
  height: 400px;
}

.access h3 {
  font-size: 50px;
  font-family: lobster;
  margin-top: 0;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  text-align: center;
  color: #ffffff;
  background: #08298a;
}

@media (max-width: 599px) {
   div#sidebar { width: 100%; }
    
}
@media (min-width: 600px) and (max-width: 959px) {
   div#sidebar { width: 160px; }
}
@media (min-width: 960px) {
   div#sidebar { width: 25%; }
}

.gallery {
  background-color:#1d2088;
  color:#ffffff;
 padding:30px;
}

.gallery h2 {
  color: #ffcc11;
    font-family: cursive
}

.gallery div{
      overflow-x: auto;
      white-space: nowrap;
 -webkit-overflow-scrolling: touch;
    }

.gallery div a {
    display:inline-block;
  margin: 5px;
  border: 10px solid #ffffff;
  background: #ffffff;
height: 260px;
}
 
.gallery img{
    width 250px;
    height: 250px;
}

.power{
    padding:30px;
     background-image: url(tegaki82mR2.jpg);
}

.power p{
    font-size:20px;
}

.power div{
background:rgba(255,255,255,0.7);
}



.sss{
font-size:25px;
}

#lightbox .lb-container { padding: px; }

